<! DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>This is home page</title>
    </head>
    <body>
        {{> header}} 

        {{screamIt welcomeMessage}}
        <p>you are on the home page  in year : {{getCurrentYear}}</p>

          {{> footer}}
    </body>
</html>