<! DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>This is Project page</title>
    </head>
    <body>
        {{> header}} 

        {{pageTitile}}
        
          {{> footer}}
    </body>
</html>